Host *
     Port 22
     Protocol 2
     ForwardX11 no
     ForwardAgent no
     HashKnownHosts yes
     ForwardX11Trusted yes
     ServerAliveInterval 60
     ServerAliveCountMax 30
     StrictHostKeyChecking no

Host server-01
  Hostname some-server.com
  IdentityFile ~/.ssh/someserver_ssh_key

Host jumpbox
  HostName some-jumpbox.com
  User admin
  IdentityFile ~/.ssh/some-jumpbox_ssh_key

Host server-02
  HostName another-server.com
  User phil
  IdentityFile ~/.ssh/another-server_ssh_key
  ProxyCommand  ssh jumpbox nc -w 120 %h %p 
